#root {
  position:absolute;
  width: 93%;
  bottom: 0px;
  height: 90%;
  left:1%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /*border: 1px green solid;*/
}
.corpo{
  position: absolute;
  width: 100%;
  left: 0%;
  height: 100%;
  bottom: 0%;
  border: 3px rgb(196, 234, 6) solid;
  border-radius: 7px;
  overflow: hidden;
  overflow-y:auto ;
}
.icones {  
  position: relative;
  left: 75%;
  bottom:13px;
  font-size: 1rem;
  color:black;    
  padding-block: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px rgb(59, 3, 104) solid;
}
.icones:hover {
  font-size: 1.4rem;
  color: darkblue;
}
.tes{
  position: relative;
  width: 100%;
  padding:0px;
  border: 1px rgb(59, 3, 104) solid;
}
.inp{
  position: relative;
  width: 60%;
  top:6px;
  right:90px;
  border: 2px rgb(155, 34, 255) solid;
  border-radius: 10px;
}
.test{
  position: absolute;
  width: 100%;
  left: 0%;
  bottom: 1%;
  border: 1px rgb(3, 97, 104) solid;
  border-radius: 7px;
  overflow: hidden;
}